<li>
    <a href="{% url 'writer:dashboard' %}">
        <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
        </div>
        <span>Dashboard</span>
    </a>

</li>
<li>
    <a href="{% url 'writer:list_projects' %}">
        <div class="icon-w">
            <div class="os-icon os-icon-delivery-box-2"></div>
        </div>
        <span>Proyectos</span>
    </a>
</li>
<li>
    <a href="{% url 'writer:profile' %}">
        <div class="icon-w">
            <div class="os-icon os-icon-user-male-circle"></div>
        </div>
        <span>Perfil</span>
    </a>
</li>
<li>
    <a href="#">
        <div class="icon-w">
            <div class="os-icon os-icon-others-43"></div>
        </div>
        <span>Notificaciones</span>
    </a>
</li>
<li>
    <a href="#">
        <div class="icon-w">
            <div class="os-icon os-icon-pencil-12"></div>
        </div>
        <span>Configuraciones</span>
    </a>
</li>
<li>
    <a href="#">
        <div class="icon-w">
            <div class="os-icon os-icon-newspaper"></div>
        </div>
        <span>PQR</span>
    </a>
</li>
<li>
    <a href="{% url 'authentication:logout' %}">
        <div class="icon-w">
            <div class="os-icon os-icon-signs-11"></div>
        </div>
        <span>Cerrar sesión</span>
    </a>
</li>