<div class="step-content" id="stepContent2" v-show="step==2">
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Items
                </h6>
                <div class="form-desc">
                    En esta sección agrega cada uno de los items de
                    los cuales se compone tu proyecto, pueden ser preguntas o secciones de
                    contenido separadas por título y respuesta.
                </div>
                <div class="row">
                    <div id="item-0"></div>
                    <div class="col-md-6" id="item-1">
                        <div class="element-box bg-item">
                            <button class="close btn-delete-item" type="button" @click="removeItem(1)">
                                <span class="os-icon os-icon-close"></span>
                            </button>
                            <div class="form-group">
                                <label for="">Item #1</label>
                                <input class="form-control"
                                       name="title-1"
                                       id="title-1"
                                       placeholder="Agrega un título del proyecto"
                                       maxlength="255"
                                       type="text">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="form-header">
                                        Respuesta
                                    </h5>
                                    <div class="form-desc">
                                        Agrega tu respuesta
                                    </div>
                                    <textarea cols="80"
                                              id="answer-1"
                                              name="answer-1"
                                              rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="element-box add-item"
                             @click="addItem">
                            <i class="batch-icon-add"></i>
                            <span href="">Agregar un nuevo Item</span>
                        </div>
                    </div>
                </div>
                <div class="form-buttons-w text-right">
                    <button class="btn btn-secondary step-trigger-btn"
                       @click="changeStep(1)">Volver</button>
                    <button @click="saveDraft(2)" class="btn btn-info step-trigger-btn">
                        Guardar borrador
                    </button>
                    <button class="btn btn-primary step-trigger-btn"
                       @click="changeStep(3)">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>