<div class="step-content" id="stepContent3" v-show="step==3">
    <div class="element-wrapper">
        <h5 class="form-header">
            Archivos adjuntos
        </h5>
        <div class="form-desc">
            En esta sección (si aplica), adjunta lo(s) archivo(s) de tu proyecto.
        </div>
        <div class="element-box-content">
            <div class="container-fluid">
                <template v-for="f in files">
                    <div class="row" v-if="!f.delete">
                        <div class="example-column title-resume-item col-12">
                            <h5 @click="checkDescription(q.id)">
                                <template v-if="f.type_file == 'pdf'">
                                    <a :href="f.file" target="_blank">${f.name}</a>
                                </template>
                                <template v-else>
                                    <a href="#carousel">
                                        ${f.name}
                                    </a>
                                </template>
                            </h5>
                            <button class="close btn-remove" type="button" @click="deleteItem(f.id)">
                                <span class="os-icon os-icon-close"></span>
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="row" v-show="files.length > 0">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <section class="gallery">
                            <div class="carousel" id="carousel"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <form enctype="multipart/form-data" method="post"
              action="{% url 'projects:upload_files' %}"
              class="dropzone" id="my-awesome-dropzone">
            {% csrf_token %}
            <input type="hidden" name="id_project" v-model="id_project">
            <div class="dz-message">
                <div>
                    <h4>Adjunta tus archivos acá.</h4>
                    <div class="text-muted">
                        Arrastra y suelta tus archivos acá...
                        archivos permitidos .png, jpg, .pdf
                    </div>
                </div>
            </div>
        </form>
        <div class="form-buttons-w text-right">
            <button class="btn btn-secondary step-trigger-btn"
                    @click="changeStep(2)">Volver
            </button>
            <button @click="saveDraft(3)" class="btn btn-info step-trigger-btn">
                Guardar borrador
            </button>
            <button @click="saveQuestions" class="btn btn-primary step-trigger-btn">
                Continuar
            </button>
        </div>
    </div>
</div>